<!DOCTYPE html>
<html lang="en">
  <head>
    {% import "bootstrap/wtf.html" as wtf %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Weedout</title>
    <style>
      body {
        background-image: url("{{ url_for('static', filename='bg_landing.png') }}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: black;
        filter: contrast(85%);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .sm-text-center {
        text-align: center !important;
      }

      @media (min-width: 768px) {
        .md-text-start {
          text-align: start !important;
        }
      }
      .container {
        flex: 1;
      }

      footer {
        background-color: #000;
        padding: 20px;
        text-align: center;
        border-top: 1px solid #000;
        color: #bbb;
      }

      footer a {
        color: #007bff;
        text-decoration: none;
      }
    </style>
  </head>
  <body class="text-white">
    <div class="container mt-5">
      <div class="row">
        <div class="col sm-1"></div>
        <div
          class="col-sm-5 mt-5 py-5 sm-pe-0 md-pe-5 mb-3"
          style="font-family: Garmon"
        >
          <h3
            class="text-shadow sm-text-center md-text-start"
            style="
              color: white;
              text-shadow: 1px 1px 5px whitesmoke;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              margin-bottom: 20px;
            "
          >
            What is Weedout?
          </h3>
          <h5
            class="sm-text-center md-text-start"
            style="font-family: Gill Sans, sans-serif"
          >
            Weedout is a powerful and user-friendly data preprocessing library
            designed to streamline and enhance your machine learning workflow.
            Weedout automates the tedious tasks of data cleaning,
            transformation, and feature engineering, freeing you to focus on
            model development and insights generation. Whether you're working
            with cross-sectional data or time series, for classification or
            regression tasks, Weedout provides the essential tools to prepare
            your data efficiently and effectively. WeedOut prioritizes
            organizing your data and removing irrelevant information to ensure
            it is clean, organized, and accurate. This foundation aims at
            improving the performance of your machine learning models and
            enhances data-driven decision-making.
          </h5>
          <h5
            class="mb-5 sm-text-center md-text-start"
            style="font-family: Gill Sans, sans-serif; font-weight: 100"
          >
            Note ** The current version of Weedout is designed to handle
            sampling datasets for two specific types of machine learning models:
            Binary Classification and Regression. As the project is still in its
            early stages, the sampling in the preprocessing pipeline is limited
            to these dataset types.
          </h5>

          <h3
            class="text-shadow sm-text-center md-text-start"
            style="
              color: white;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              margin-bottom: 20px;
              text-shadow: 1px 1px 5px whitesmoke;
            "
          >
            Why Weedout?
          </h3>
          <ul
            class="sm-text-center md-text-start mb-5"
            style="font-family: Gill Sans, sans-serif"
          >
            <li class="h5">Effortless data cleaning</li>
            <li class="h5">Smart feature engineering</li>
            <li class="h5">Seamless integration with ML libraries</li>
            <li class="h5">Specialized time series tools</li>
            <li class="h5">Automated sampling techniques</li>
          </ul>
          <h3
            class="text-shadow sm-text-center md-text-start"
            style="
              color: white;
              text-shadow: 1px 1px 5px whitesmoke;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              margin-bottom: 20px;
            "
          >
            Want to Contribute?
          </h3>
          <h5
            class="mb-3 sm-text-center md-text-start"
            style="font-family: Gill Sans, sans-serif"
          >
            WeedOut is an open-source Python package for data preprocessing, and
            we'd love your help in making it even better! Whether you're a
            coding whiz, documentation guru, or data science enthusiast, there's
            a way for you to contribute. You can help by improving our code,
            adding new features, writing tests, enhancing documentation,
            reporting bugs, or even sharing your experience with WeedOut. Every
            contribution, big or small, helps us grow and innovate. Check out
            our GitHub repository to get started.
          </h5>
          <div class="mt-4 mb-2 sm-text-center md-text-start">
            <a
              href="https://github.com/rohannair2022/Weedout"
              class="redirect btn btn-outline-light"
              role="button"
            >
              Link to Github Repo
            </a>
          </div>
        </div>
        <div class="col-sm-5 mt-md-5 py-md-5 d-flex justify-content-center">
          <div
            class="card mb-5"
            style="
              width: 450px;
              height: 100%;
              background-color: rgba(255, 255, 255, 0.1);
              backdrop-filter: blur(10px);
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            "
          >
            <img
              src="{{ url_for('static', filename='logo.png') }}"
              class="card-img-top mx-4"
              alt="Card image"
              style="width: 80%"
            />
            <div
              class="card-body text-light"
              style="background-color: rgba(0, 0, 0, 0.5)"
            >
              <h4
                class="card-title"
                style="
                  color: #fff;
                  font-weight: bold;
                  font-family: Gill Sans, sans-serif;
                  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
                "
              >
                Pre-process your dataset
              </h4>
              <hr />
              <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <!-- Data Type Part-->
                <div class="mb-3">
                  <label
                    style="
                      font-weight: bold;
                      font-family: Gill Sans, sans-serif;
                      color: #fff;
                      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
                    "
                    >{{ form.data_type.label }}</label
                  ><br />
                  <div class="row justify-content-start">
                    <div class="d-flex">
                      {% for subfield in form.data_type %}
                      <div
                        class="col-auto pe-3"
                        style="
                          font-family: Gill Sans, sans-serif;
                          font-size: 17px;
                          color: whitesmoke;
                        "
                      >
                        {{ subfield }} {{ subfield.label }}
                      </div>
                      {% endfor %} {% for error in form.data_type.errors %}
                      <span style="color: red" class="d-flex align-items-center"
                        >[{{ error }}]</span
                      >
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <!-- Model Type -->
                <div class="mb-3">
                  <label
                    style="
                      font-weight: bold;
                      font-family: Gill Sans, sans-serif;
                      color: #fff;
                      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
                    "
                    >{{ form.model_type.label }}</label
                  ><br />
                  <div class="row justify-content-start">
                    <div class="d-flex">
                      {% for subfield in form.model_type %}
                      <div
                        class="col-auto pe-3"
                        style="
                          font-family: Gill Sans, sans-serif;
                          font-size: 17px;
                          color: whitesmoke;
                        "
                      >
                        {{ subfield }} {{ subfield.label }}
                      </div>
                      {% endfor %} {% for error in form.model_type.errors %}
                      <span style="color: red" class="d-flex align-items-center"
                        >[{{ error }}]</span
                      >
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <!-- Sampling Response Part-->
                <div class="mb-3">
                  <label
                    style="
                      font-family: Gill Sans, sans-serif;
                      font-weight: bold;
                      color: #fff;
                      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
                    "
                    >{{ form.sampling_response.label }}</label
                  ><br />
                  <div class="row justify-content-start">
                    <div class="d-flex">
                      {% for subfield in form.sampling_response %}
                      <div
                        class="col-auto pe-3"
                        style="
                          font-family: Gill Sans, sans-serif;
                          font-size: 17px;
                          color: whitesmoke;
                        "
                      >
                        {{ subfield }} {{ subfield.label }}
                      </div>
                      {% endfor %} {% for error in form.sampling_response.errors
                      %}
                      <span style="color: red" class="d-flex align-items-center"
                        >[{{ error }}]</span
                      >
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <!-- Sampling Strategy Part-->
                <div class="mb-2">
                  <label
                    style="
                      font-family: Gill Sans, sans-serif;
                      font-weight: bold;
                      color: #fff;
                      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
                    "
                    >{{ form.strategy_sample.label }}</label
                  ><br />
                  <div class="row">
                    {% for subfield in form.strategy_sample %} {% if loop.index0
                    % 2 == 0 %}
                    <div class="row mb-3">
                      {% endif %}

                      <div class="col-6">
                        {{ subfield() }}
                        <label
                          for="{{ subfield.id }}"
                          style="
                            font-family: Gill Sans, sans-serif;
                            font-size: 17px;
                            color: whitesmoke;
                          "
                        >
                          {{ subfield.label }}
                        </label>
                      </div>

                      {% if loop.index0 % 2 != 0 or loop.last %}
                    </div>
                    {% endif %} {% endfor %}
                  </div>

                  {% for error in form.strategy_sample.errors %}
                  <div class="row">
                    <div class="col">
                      <span class="text-danger">{{ error }}</span>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <!-- Target Name Part -->

                <div class="mb-3">
                  <label
                    style="
                      font-family: Gill Sans, sans-serif;
                      font-weight: bold;
                      color: #fff;
                      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
                    "
                    >{{ form.target_name.label }}</label
                  ><br />
                  <div class="row justify-content-start">
                    <div class="d-flex">
                      <div class="col-auto pe-3">
                        {{ form.target_name(placeholder="Target name",
                        style="font-family: Gill Sans, sans-serif; font-size:
                        17px; color: #333; backdrop-filter: blur(10px);") }}
                      </div>
                      {% if form.target_name.errors %}
                      <span style="color: red" class="d-flex align-items-center"
                        >{{ form.target_name.errors }}</span
                      >
                      {% endif %}
                    </div>
                  </div>
                </div>

                <!-- Dropped Column Name Part -->

                <div class="mb-3">
                  <label
                    style="
                      font-family: Gill Sans, sans-serif;
                      font-weight: bold;
                      color: #fff;
                      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
                    "
                    >{{ form.dropped_column.label }}</label
                  >
                  <p>Note: Mention your ID columns</p>
                  <div class="row justify-content-start">
                    <div class="d-flex">
                      <div class="col-auto pe-3">
                        {{ form.dropped_column (placeholder="Column Names"
                        ,style="font-family: Gill Sans, sans-serif; width:
                        250px; font-size: 17px; color: #333; backdrop-filter:
                        blur(10px);") }}
                      </div>
                      {% if form.dropped_column.errors %}
                      <span style="color: red" class="d-flex align-items-center"
                        >{{ form.dropped_column.errors }}</span
                      >
                      {% endif %}
                    </div>
                  </div>
                </div>

                <!-- Untouched Column Name Part -->

                <div class="mb-3">
                  <label
                    style="
                      font-family: Gill Sans, sans-serif;
                      font-weight: bold;
                      color: #fff;
                      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
                    "
                    >{{ form.untouched_column.label }}</label
                  ><br />
                  <div class="row justify-content-start">
                    <div class="d-flex">
                      <div class="col-auto pe-3">
                        {{ form.untouched_column (placeholder="Column names"
                        ,style="font-family: Gill Sans, sans-serif; width:
                        250px; font-size: 17px; color: #333; backdrop-filter:
                        blur(10px);") }}
                      </div>
                      {% if form.untouched_column.errors %}
                      <span style="color: red" class="d-flex align-items-center"
                        >{{ form.untouched_column.errors }}</span
                      >
                      {% endif %}
                    </div>
                  </div>
                </div>

                <!-- Upload File Button-->

                <div class="mb-4" data-bs-theme="dark">
                  <label
                    style="
                      font-family: Gill Sans, sans-serif;
                      font-weight: bold;
                      color: #fff;
                      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
                    "
                    >{{ form.csv_file.label }}</label
                  ><br />
                  {{ form.csv_file }} {% for error in form.csv_file.errors %}
                  <div class="alert alert-danger mt-3">
                    <strong>Failed! </strong>{{ error }}
                  </div>
                  {% endfor %}
                </div>

                <!-- Submit Button -->

                <div class="mt-5 d-grid">
                  {{ form.submit(class_="btn btn-outline-light", role="button")
                  }}
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col sm-1"></div>
      </div>
    </div>
    <footer>
      <p style="margin: 0; font-size: 14px">
        &copy; 2024 WeedOut. All rights reserved.
      </p>
      <p style="margin: 5px 0 0; font-size: 12px">
        Website Developed by
        <a href="https://www.linkedin.com/in/rohansunilkumarnair/"
          >Rohan Nair</a
        >
      </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
